.header-info {
    background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
    text-align: center;
    font-size: 22px;
    color: white;
    padding-bottom: 20px
}
.exit-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 7px;
}