<h1 mat-dialog-title class="header-info">Dodaj dijete</h1>
<button mat-icon-button class="exit-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content>

    <div class="form-row" style="margin-bottom: 20px;">
        Ljekarsko uvjerenje:
        <div class="form-row" class="file-chooser">
            <button mat-raised-button
                style="background-color: #2db0b0; border-radius: 10px; vertical-align: center; margin: 7px;"
                color="primary" (click)="openFileChooser()">Choose File</button>
            <span style="margin-left: 5px;">{{ selectedFile?.name }} </span>
            <input #fileInput type="file" (change)="onFileSelected($event)" hidden>
        </div>
    </div>

    <form (ngSubmit)="createChild()" class="column-container margin-bottom">

        <div class="form-row">
            Ime:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.name" required autocomplete="off">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Prezime:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.surname" required autocomplete="on">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            JMBG:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.uid" required autocomplete="on">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Datum rođenja:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" required [matDatepicker]="mydate" [(ngModel)]="date"
                    (dateInput)="addEvent('input', $event)" readonly (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="mydate"></mat-datepicker-toggle>
                <mat-datepicker #mydate>
                </mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-row">
            Ime majke:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.motherName" required autocomplete="on">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Ime oca:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.fatherName" required autocomplete="on">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Broj telefona majke:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.motherPhoneNumber"
                    autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Broj telefona oca:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.fatherPhoneNumber"
                    autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Grad:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.city" required autocomplete="on">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Ulica:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.street" required autocomplete="on">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Broj:
            <mat-form-field class="color-white">
                <input type="number" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.number"
                required autocomplete="on">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Visina(cm):
            <mat-form-field class="color-white">
                <input type="number" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.height"
                required  autocomplete="on">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Masa(kg):
            <mat-form-field class="color-white">
                <input type="number" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.weight"
                required  autocomplete="on">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Napomena:
            <mat-form-field class="color-white">
                <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="child.note"
                    autocomplete="on">
            </mat-form-field>
        </div>

        <div style="text-align: center;">
            <button mat-raised-button class="save-button" type="submit">Kreiraj</button>
        </div>
    </form>
</div>