<h1 mat-dialog-title class="header-info">Dodaj dijete</h1>
<button mat-icon-button class="exit-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content>

    <div class="form-row" style="margin-bottom: 20px;">
        Ljekarsko uvjerenje:
        <div class="form-row" class="file-chooser">
            <button mat-raised-button
                style="background-color: #2db0b0; border-radius: 10px; vertical-align: center; margin: 7px;"
                color="primary" (click)="openFileChooser()">Choose File</button>
            <span style="margin-left: 5px;">{{ selectedFile?.name }} </span>
            <input #fileInput type="file" (change)="onFileSelected($event)" hidden>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="createChild()" class="column-container margin-bottom">

        <div class="form-row">
            Ime:
            <mat-form-field class="color-white">
                <input matInput  formControlName="name" required autocomplete="off">
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Prezime:
            <mat-form-field class="color-white">
                <input matInput  formControlName="surname" required autocomplete="on">
                <mat-error>{{ getErrorMessage('surname') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            JMBG:
            <mat-form-field class="color-white"> 
                <input matInput formControlName="uid" required autocomplete="on" minlength="13" maxlength="13">
                <mat-error>{{ getErrorMessage('uid') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Datum rođenja:
            <mat-form-field class="color-white">
                <input matInput [ngModelOptions]="{standalone: true}" [max]="today" required [matDatepicker]="mydate" [(ngModel)]="date"
                    (dateInput)="addEvent('input', $event)" readonly (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="mydate"></mat-datepicker-toggle>
                <mat-datepicker #mydate>
                </mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-row">
            Ime majke:
            <mat-form-field class="color-white">
                <input matInput  formControlName="motherName" required autocomplete="on">
                <mat-error>{{ getErrorMessage('motherName') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Ime oca:
            <mat-form-field class="color-white">
                <input matInput  formControlName="fatherName" required autocomplete="on">
                <mat-error>{{ getErrorMessage('fatherName') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Broj telefona majke:
            <mat-form-field class="color-white">
                <input matInput  formControlName="motherPhoneNumber"
                    autocomplete="on">
                    <mat-error>{{ getErrorMessage('motherPhoneNumber') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Broj telefona oca:
            <mat-form-field class="color-white">
                <input matInput  formControlName="fatherPhoneNumber"
                    autocomplete="on">
                    <mat-error>{{ getErrorMessage('fatherPhoneNumber') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Grad:
            <mat-form-field class="color-white">
                <input matInput  formControlName="city" required autocomplete="on">
                <mat-error>{{ getErrorMessage('city') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Ulica:
            <mat-form-field class="color-white">
                <input matInput  formControlName="street" required autocomplete="on">
                <mat-error>{{ getErrorMessage('street') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Broj:
            <mat-form-field class="color-white">
                <input type="number" matInput formControlName="number"
                required autocomplete="on">
                <mat-error>{{ getErrorMessage('number') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Visina(cm):
            <mat-form-field class="color-white">
                <input type="number" matInput formControlName="height"
                required  autocomplete="on">
                <mat-error>{{ getErrorMessage('height') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Masa(kg):
            <mat-form-field class="color-white">
                <input type="number" matInput formControlName="weight"
                required  autocomplete="on">
                <mat-error>{{ getErrorMessage('weight') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Napomena:
            <mat-form-field class="color-white">
                <input type="text" matInput formControlName="note"
                    autocomplete="on">
            </mat-form-field>
        </div>

        <div style="text-align: center;">
            <button mat-raised-button class="save-button" type="submit">Kreiraj</button>
        </div>
    </form>
</div>