<h1 mat-dialog-title class="header-info">Dodaj dijete</h1>
<button mat-icon-button class="exit-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content>
    <form (ngSubmit)="createChild()" class="column-container margin-bottom">
        
        <div class="form-row">
            Ime:
            <mat-form-field class="color-white">
                <input matInput name="title" [(ngModel)]="child.name" autocomplete="off">
            </mat-form-field>
        </div>

        <div class="form-row">
            Prezime:
            <mat-form-field class="color-white">
                <input matInput name="title" [(ngModel)]="child.surname" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            JMBG:
            <mat-form-field class="color-white">
                <input matInput name="title" [(ngModel)]="child.uid" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Datum rođenja:
            <mat-form-field class="color-white">
                <input matInput [matDatepicker]="mydate" [(ngModel)]="date" (dateInput)="addEvent('input', $event)" readonly
                    (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="mydate"></mat-datepicker-toggle>
                <mat-datepicker #mydate>
                </mat-datepicker>
            </mat-form-field>
        </div>

        <div class="form-row">
            Ime majke:
            <mat-form-field class="color-white">
                <input matInput name="title" [(ngModel)]="child.motherName" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Ime oca:
            <mat-form-field class="color-white">
                <input matInput name="title" [(ngModel)]="child.fatherName" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Broj telefona majke:
            <mat-form-field class="color-white">
                <input matInput name="title" [(ngModel)]="child.motherPhoneNumber" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Broj telefona oca:
            <mat-form-field class="color-white">
                <input matInput name="title" [(ngModel)]="child.fatherPhoneNumber" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Grad:
            <mat-form-field class="color-white">
                <input matInput name="title" [(ngModel)]="child.city" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Ulica:
            <mat-form-field class="color-white">
                <input matInput name="title" [(ngModel)]="child.street" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Broj:
            <mat-form-field class="color-white">
                <input type="number" matInput name="title" [(ngModel)]="child.number" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Visina(cm):
            <mat-form-field class="color-white">
                <input type="number" matInput name="title" [(ngModel)]="child.height" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Masa(kg):
            <mat-form-field class="color-white">
                <input type="number" matInput name="title" [(ngModel)]="child.weight" autocomplete="on">
            </mat-form-field>
        </div>

        <div class="form-row">
            Napomena:
            <mat-form-field class="color-white">
                <input type="text" matInput name="title" [(ngModel)]="child.note" autocomplete="on">
            </mat-form-field>
        </div>
        
        <div style="text-align: center; ">
            <button mat-raised-button style="border-radius: 10px; background-color: #2db0b0;" type="submit">Kreiraj</button>
        </div>
    </form>
</div>
