<div class="row-container">
    <app-side-nav-bar></app-side-nav-bar>
    <div class="width-64">
        <div class="tabs">
            <p class="title">Članarine</p>
            <button mat-raised-button class="create-button" (click)="createMembership()">
                <mat-icon>add</mat-icon>
                Dodaj članarinu
            </button>
        </div>
        <div class="before-group"></div>
        <div *ngIf="!memberships" class="mat-spinner">
            <mat-spinner></mat-spinner>
        </div>
        <mat-form-field class="search-bar">
            <input matInput placeholder="Pronađi dijete" [(ngModel)]="searchText" (input)="searchChild()">
            <button mat-icon-button matSuffix *ngIf="searchText" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div class="group-scroll" *ngIf="memberships.length != 0">
            <div class="table">
                <table>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col}}
                        </th>
                    </tr>
                    <tr *ngFor="let membership of memberships">
                        <td>{{ membership.child.name }}</td>
                        <td>{{ membership.child.name }}</td>
                        <td>{{ membership.serviceType }}</td>
                        <td>{{ membership.date | date: 'MM/yyyy' }}</td>
                        <td>
                            <input type="checkbox" [checked]="membership.paid" [disabled]="membership.paid" (click)="changeStatus(membership)">
                        </td>
                        <td>{{ membership.amount }} KM</td>
                        <td>{{ membership.paid ? (membership.paymentDate | date: 'dd/MM/yyyy') : '-' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>