.login-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-heading {
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 260px;
}

.register-container {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-button-rounded {
    border-radius: 25px;
    font-size: 15px;
}