<div class="login-container">
    <h1 class="login-heading">Sign In</h1>
    <form [formGroup]="form" class="login-form">

        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" required autocomplete="off" />
            <mat-error>{{ getErrorMessage('username') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required
                autocomplete="off" />
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>{{ getErrorMessage('password') }}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="login(form)"
            class="mat-button-rounded">
            Sign In
        </button>

    </form>
</div>