
<div class="form">
    <label>Pregled dugovanja</label>
</div>

 <div class="table">
    <input type="text" placeholder="Pretraži djecu" [(ngModel)]="pretraziDjecu" (input)="filterMembership()" required id="pretraziDjecu" class="textbox1">
    <button mat-raised-button class="create-button" (click)="addClick()">
        <mat-icon>add</mat-icon>
        Dodaj članarinu
    </button>
   <!-- <table>
      <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Paket</th>
        <th>Datum1</th>
        <th>Placeno</th>
        <th>Iznos</th>
        <th>Datum2</th>
      </tr>
      <tr>
        <td>Ime1</td>
        <td>Prezime1</td>
        <td>Paket1</td>
        <td>08.10.2000</td>
        <td><input type="checkbox" [(ngModel)]="isChecked"/>    &nbsp;   </td>
        <td>200</td>
        <td>08.11.2000</td>
      </tr>
    </table> -->

    <table id="membership">
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
      <tr *ngFor="let mem of membership">
        <!--<td *ngFor="let col of index">
          {{mem[col]}}
        </td> -->
        <td>{{ mem.child?.name }}</td>
        <td>{{ mem.child?.surname }}</td>
        <td>{{ mem.serviceType }}</td>
        <td>{{ mem.date }}</td>
        <!--<td>{{ mem.paid }}</td> -->
        <td>
          <input type="checkbox" [checked]="mem.paid">
        </td>
        <td>{{ mem.amount }}</td>
        <td>{{ mem.paymentDate }}</td>
      </tr>
    </table>
</div>
