<div class="row-container">
  <app-side-nav-bar></app-side-nav-bar>
  <div class="column-container, width-64">
    <div class="tabs">
      <p class="title">Pregled dugovanja</p>
      <button mat-raised-button class="create-button" (click)="createDebt()">
        <mat-icon>add</mat-icon>
        Dodaj dugovanje
      </button>
    </div>
    <div class="before-group"></div>
    <!-- <div *ngIf="!groups" class="mat-spinner">
      <mat-spinner></mat-spinner>
    </div> -->
    <mat-form-field class="search-bar">
      <input matInput placeholder="Pronađi dijete" [(ngModel)]="searchText" (input)="searchChild()">
      <button mat-icon-button matSuffix *ngIf="searchText" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
    <table>
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
      <tr *ngFor="let mem of memberships">
        <td>{{ mem.child?.name }}</td>
        <td>{{ mem.child?.surname }}</td>
        <td>{{ mem.serviceType }}</td>
        <td>{{ mem.date }}</td>
        <td>
          <input type="checkbox" [checked]="mem.paid">
        </td>
        <td>{{ mem.amount }}</td>
        <td>{{ mem.paymentDate }}</td>
      </tr>
    </table>
  </div>
</div>