<h1 mat-dialog-title class="header-info">Izmjena kredencijala</h1>
<button mat-icon-button class="exit-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content>
    <form [formGroup]="form">

        <div class="form-row">
            Korisničko ime:
            <mat-form-field appearance="fill">
                <input matInput type="text" formControlName="userName" required autocomplete="off"  />
                <mat-error>{{ getErrorMessage('name') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="form-row">
            Lozinka:
            <mat-form-field appearance="fill">
                <input matInput type="text" formControlName="password" required autocomplete="off"  />
                <mat-error>{{ getErrorMessage('surname') }}</mat-error>
            </mat-form-field>
        </div>

        <div style="text-align: center; ">
            <button mat-raised-button color="primary" class="save-button"
                (click)="changeData()">
                Sacuvaj
            </button>
        </div>
    </form>
</div>