<h1 mat-dialog-title class="header-info">Dodaj vaspitača</h1>
<button mat-icon-button class="exit-button" (click)="closeDialog()">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content>

  <div class="form-row1" style="margin-bottom: 20px;">
    Higijenski test:
    <div class="file-chooser1">
      <button mat-raised-button
        style="background-color: #8e31a8; border-radius: 10px; vertical-align: center; margin: 7px;" color="primary"
        (click)="openFileChooser2()">Dodaj dokument</button>
      <span style="margin-left: 5px;">{{ selectedFileHygieneTest?.name }} </span>
      <input #fileInputHygieneTest type="file" id="fileInputHygieneTest" (change)="onHygieneFileSelected($event)" hidden
        required>
    </div>
  </div>

  <div class="form-row" style="margin-bottom: 20px;">
    Ljekarsko uvjerenje:
    <div class="file-chooser">
      <button mat-raised-button
        style="background-color: #8e31a8; border-radius: 10px; vertical-align: center; margin: 7px;" color="primary"
        (click)="openFileChooser1()">Dodaj dokument</button>
      <span style="margin-left: 5px;">{{ selectedFileMedicalClearance?.name }} </span>
      <input #fileInputMedicalClearance type="file" id="fileInputMedicalClearance"
        (change)="onMedicalFileSelected($event)" hidden required>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="createEducator()" class="column-container margin-bottom">

    <div class="form-row">
      Ime:
      <mat-form-field class="color-white">
        <input matInput formControlName="name" required autocomplete="off">
        <mat-error>{{ getErrorMessage('name') }}</mat-error>
      </mat-form-field>
    </div>



    <div class="form-row">
      Prezime:
      <mat-form-field class="color-white">
        <input matInput formControlName="surname" required autocomplete="off">
        <mat-error>{{ getErrorMessage('surname') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      JMBG:
      <mat-form-field class="color-white">
        <input matInput formControlName="uid" required autocomplete="off">
        <mat-error>{{ getErrorMessage('uid') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      Datum rođenja:
      <mat-form-field class="color-white">
        <input matInput [ngModelOptions]="{standalone: true}" required [max]="today" [matDatepicker]="mydate"
          [(ngModel)]="date" (dateInput)="addEvent('input', $event)" readonly
          (dateChange)="addEvent('change', $event) ">
        <mat-datepicker-toggle matSuffix [for]="mydate"></mat-datepicker-toggle>
        <mat-datepicker #mydate>
        </mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-row">
      Broj telefona:
      <mat-form-field class="color-white">
        <input type="text" matInput formControlName="phoneNumber" required autocomplete="off">
        <mat-error>{{ getErrorMessage('phoneNumber') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      Grad:
      <mat-form-field class="color-white">
        <input matInput formControlName="city" required autocomplete="off">
        <mat-error>{{ getErrorMessage('city') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      Ulica:
      <mat-form-field class="color-white">
        <input matInput formControlName="street" required autocomplete="off">
        <mat-error>{{ getErrorMessage('street') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      Broj:
      <mat-form-field class="color-white">
        <input type="number" matInput formControlName="number" required autocomplete="off">
        <mat-error>{{ getErrorMessage('number') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      Korisničko ime:
      <mat-form-field class="color-white">
        <input matInput formControlName="userName" required autocomplete="off">
        <mat-error>{{ getErrorMessage('userName') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      Lozinka:
      <mat-form-field class="color-white">
        <input type="{{ passwordVisible ? 'text' : 'password' }}" matInput formControlName="password" required autocomplete="off">
        <mat-icon matSuffix (click)="togglePasswordVisibility('password')">
          {{ passwordVisible ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-error>{{ getErrorMessage('password') }}</mat-error>
      </mat-form-field>
    </div>
    
    <div class="form-row">
      Ponovite lozinku:
      <mat-form-field class="color-white">
        <input type="{{ passwordRepeatVisible ? 'text' : 'password' }}" matInput formControlName="passwordRepeat" required autocomplete="off">
        <mat-icon matSuffix (click)="togglePasswordVisibility('passwordRepeat')">
          {{ passwordRepeatVisible ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error>{{ getErrorMessage('passwordRepeat') }}</mat-error>
      </mat-form-field>
    </div>
    

    <div style="text-align: center;">
      <button mat-raised-button style="border-radius: 10px; color: #ffffff; background-color: #77238e;"
        type="submit">Kreiraj</button>
    </div>
  </form>
</div>