<h1 mat-dialog-title>Pregled dolazaka/odlazaka</h1>
<button mat-icon-button class="exit-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content>
    Izaberite datum
    <div class="calendar-div">

        <mat-calendar #myCalendar [dateClass]="dateClass()" [selected]="selectedDate"
        (selectedChange)="onSelect($event)"
           startView="year">

        </mat-calendar>

      </div>
</div>
<div mat-dialog-content>
    <mat-table *ngIf="datesOfArrival && datesOfArrival.length > 0" [dataSource]="datesOfArrival" class="mat-elevation-z8">
        <ng-container matColumnDef="arrivalTime">
            <mat-header-cell class="mat-cell" *matHeaderCellDef> Vrijeme dolaska </mat-header-cell>
            <mat-cell class="mat-cell"  *matCellDef="let element" > {{(element?.type && checkDate(element))? element?.recordedTime : '-'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="departureTime">
            <mat-header-cell class="mat-cell" *matHeaderCellDef> Vrijeme odlaska </mat-header-cell>
            <mat-cell class="mat-cell" *matCellDef="let element"> {{!element?.type ? element?.recordedTime : '-'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <p *ngIf=" datesOfArrival.length == 0">Ne postoje zapisi za {{ dateToShow }}</p>
</div>