.row-container {
    display: flex;
    flex-direction: row;
}

.width-64 {
    width: calc(100% - 64px);
}

.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f7f7f7;
}

.tabs{
    display: flex;
    margin-top: 30px;
    height: 100px;
    background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
    text-align: left;
    font-size: 26px;
    align-items: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title{
    margin-left: 20px;
}

.create-button {
    position: absolute;
    right: 0;
    font-size: 18px;
    background-color: #8e31a8 !important;
    margin-right: 20px;
    height: 40px;
    color: white !important;
    border-radius: 10px;
}

.before-search {
    height: 30px;
    background-color: whitesmoke;
}

.group-scroll {
    overflow-y: auto;
    height: calc(100vh - 190px);
    background-color: whitesmoke;
    text-align: center;
}

.form-row {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    padding-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
}