.row-container {
    display: flex;
    flex-direction: row;
}

.width-64 {
    width: calc(100% - 64px);
}

.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f7f7f7;
}

.tabs{
    display: flex;
    margin-top: 30px;
    height: 100px;
    background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
    text-align: left;
    font-size: 26px;
    align-items: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title{
    margin-left: 20px;
}

.create-button {
    position: absolute;
    right: 0;
    font-size: 18px;
    background-color: #8e31a8 !important;
    margin-right: 20px;
    height: 40px;
    color: white !important;
    border-radius: 10px;
}

.before-group {
    height: 10px;
    background-color: whitesmoke;
}

.mat-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 140px);
}

.group-scroll {
    overflow-y: auto;
    height: calc(100vh - 230px);
    background-color: whitesmoke;
}

.group-section {
    background-color: #f7f7f7;
}

.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.comment-card {
    margin-bottom: 5px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    height: 60px;
    cursor: pointer;
}

.comment-card:hover {
    background-color: #ddd;
}

.font-size-25 {
    font-size: 22px;
}

.number-of-members {
    margin-left: 20px;
    margin-top: 5px;
}




.delete-title {
    padding-top: 5px;
    padding-left: 10px;
}


.header-info {
    background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
    text-align: center;
    font-size: 22px;
    color: white;
    padding-bottom: 20px
}

.exit-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 7px;
    color: white;
}

.form-row {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    padding-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.save-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-button-rounded {
    border-radius: 25px;
    font-size: 15px;
    width: 100%;
    max-width: 200px;
    height: 40px;
    margin-top: 10px;
}

.group-scroll {
    overflow-y: auto;
    height: calc(100vh - 190px);
}

.before-search {
    height: 30px;
    background-color: whitesmoke;
}

mat-icon{
    width: 150px;
    height: 150px;
    font-size: 150px;
}

.group-of-buttons-form {
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    margin-right: 20px;
    padding: 20px;
}
form button {
    width: 200px;
    padding: 10px;
    margin: auto;
    font-size: 18px;
    background-color:  #8e31a8 !important;
    color: white !important;
}
.between-buttons {
    height: 10px;
}

