<div class="row-container">
    <app-side-nav-bar></app-side-nav-bar>
    <div class="column-container, width-64">
        <div class="tabs">
            <p class="title">Podaci o prijavljenom korisniku</p>
            
            <form *ngIf="userData.isAdmin" class="group-of-buttons-form">

                <button mat-raised-button  (click)="changeData()">
                    <mat-icon>edit</mat-icon>
                    Izmjena podataka
                    
                </button>
                <div class="between-buttons"></div>
                <button mat-raised-button  (click)="changeCredentials()">
                    <mat-icon>edit</mat-icon>
                    Izmjena kredencijala
                    
                </button>
            </form>
                
            <form *ngIf="!userData.isAdmin" class="group-of-buttons-form">

                <button mat-raised-button  (click)="changeCredentials()">
                    <mat-icon>edit</mat-icon>
                    Izmjena kredencijala
                    
                </button>

            </form>
            
        </div>
        <div class="before-search"></div>
        
        <div class="group-scroll">

            <div style="display: flex;
            justify-content: center;
            align-items: center;">
                <mat-icon class="icon-large">account_circle</mat-icon>
                
            </div>
            <p style="display: flex;
            justify-content: center;
            align-items: center; font-size: 30px;">{{ userData.username }} <span *ngIf="userData.isAdmin">(administrator)</span></p>
           
            <form [formGroup]="form" class="form">
                
                <div class="form-row">
                    Ime:
                    <mat-form-field appearance="fill">
                        <input matInput type="text" formControlName="name" required autocomplete="off" readonly />
                        <mat-error>{{ getErrorMessage('name') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    Prezime:
                    <mat-form-field appearance="fill">
                        <input matInput type="text" formControlName="surname" required autocomplete="off" readonly />
                        <mat-error>{{ getErrorMessage('surname') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    JMBG:
                    <mat-form-field appearance="fill">
                        <input matInput type="text" formControlName="uid" required autocomplete="off" readonly />
                        <mat-error>{{ getErrorMessage('phoneNumber') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    Datum rođenja:
                    <mat-form-field appearance="fill">
                        <input matInput type="text" formControlName="dateOfBirth" required autocomplete="off"
                            readonly />
                        <mat-error>{{ getErrorMessage('phoneNumber') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    Grad:
                    <mat-form-field appearance="fill">
                        <input matInput type="text" formControlName="city" required autocomplete="off" readonly />
                        <mat-error>{{ getErrorMessage('surname') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    Ulica:
                    <mat-form-field appearance="fill">
                        <input matInput type="text" formControlName="street" required autocomplete="off" readonly />
                        <mat-error>{{ getErrorMessage('surname') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    Broj:
                    <mat-form-field appearance="fill">
                        <input matInput type="number" formControlName="number" required autocomplete="off" readonly />
                        <mat-error>{{ getErrorMessage('number') }}</mat-error>
                    </mat-form-field>
                </div>

            </form>

        </div>
        <div class="before-search"></div>
    </div>
</div>