<h1 mat-dialog-title class="header-info">Dodaj dugovanje</h1>
<button mat-icon-button class="exit-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
</button>

<div class="input-field">
    <label>Dijete</label>
    <mat-select class="combo1" [(ngModel)]="combo1">
        <mat-option *ngFor="let option of options" [value]="option.id">{{ option.name }}</mat-option>
    </mat-select>

  </div>

<div class="form-row">
    Tip usluge:
    <mat-form-field class="color-white">
        <input matInput name="title" [(ngModel)]="usluga" required id="usluga" autocomplete="off">
    </mat-form-field>
</div>

<div class="input-field">
    <label>Mjesec</label>
    <mat-select class="combo2" [(ngModel)]="combo2">
      <mat-option value="Januar">Januar</mat-option>
      <mat-option value="Februa">Februar</mat-option>
      <mat-option value="Mart">Mart</mat-option>
      <mat-option value="April">April</mat-option>
      <mat-option value="Maj">Maj</mat-option>
      <mat-option value="Juni">Juni</mat-option>
      <mat-option value="Juli">Juli</mat-option>
      <mat-option value="Avgust">Avgust</mat-option>
      <mat-option value="Septembar">Septembar</mat-option>
      <mat-option value="Oktobar">Oktobar</mat-option>
      <mat-option value="Novembar">Novembar</mat-option>
      <mat-option value="Decembar">Decembar</mat-option>
    </mat-select>

  </div>

  <div class="input-field">
    <label>Placeno</label>
    <mat-select class="combo3" [(ngModel)]="combo3">
      <mat-option value="option1">Da</mat-option>
      <mat-option value="option2">Ne</mat-option>
    </mat-select>

  </div>
<div class="form-row">
    Iznos:
    <mat-form-field class="color-white">
        <input matInput name="title" [(ngModel)]="iznos" required id="iznos" autocomplete="off">
    </mat-form-field>
</div>

<div class="form-row">
    Datum placanja:
    <mat-form-field class="color-white">
        <input matInput [ngModelOptions]="{standalone: true}" [matDatepicker]="mydate" [(ngModel)]="date" (dateInput)="addEvent('input', $event)" readonly
        (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="mydate"></mat-datepicker-toggle>
        <mat-datepicker #mydate>
        </mat-datepicker>
    </mat-form-field>
</div>

<button mat-button class="create-button" (click)="createMembership()">
    Kreiraj
    <mat-icon>create</mat-icon>
</button>