.row-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.width-64 {
    width: calc(100% - 64px);
}

.tabs{
    display: flex;
    margin-top: 30px;
    height: 100px;
    background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
    text-align: left;
    font-size: 26px;
    align-items: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title{
    margin-left: 20px;
}

.before-info {
    height: 80px;
    background-color: whitesmoke;
}

.group-scroll {
    overflow-y: auto;
    height: calc(100vh - 210px);
    background-color: whitesmoke;
}

.form-row {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    padding-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.save-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
