<div class="row-container">
    <div class="main-box" style="max-width: 210px;">
        <div class="side-menu-list">
            <div class="logo-image">
                <img src="../assets/images/hand6.png" alt="logo">
                <mat-icon class="info-button" (click)="showInfo()">info</mat-icon>
            </div>
            <ul class="menu-items">
                <li class="top" (click)="goTo('home')" [ngClass]="{'onActive': selectedMenu == 'home'}"><i
                        class="fa fa-home"> &nbsp; Vrtić</i></li>
                <li (click)="goTo('evidence')" [ngClass]="{'onActive': selectedMenu == 'evidence'}"><i
                        class="fa fa-check"> &nbsp; Evidentiranje prisustva</i></li>
                <li (click)="goTo('children')" [ngClass]="{'onActive': selectedMenu == 'children'}"><i
                        class="fa fa-search"> &nbsp; Pregled djece</i></li>
                <li (click)="goTo('educators')" [ngClass]="{'onActive': selectedMenu == 'educators'}"><i
                        class="fa fa-users"> &nbsp; Vaspitači</i></li>
                <li (click)="goTo('finance')" [ngClass]="{'onActive': selectedMenu == 'finance'}"><i
                        class="fa fa-dollar"> &nbsp; Finansije</i></li>

                <li style=" height: 100px; margin-top: 10px; position: absolute; bottom: 70px; left: 0; min-width: 260px; max-width: 210px;"
                    class="bottom" (click)="goTo('user')" [ngClass]="{'onActive': selectedMenu == 'Profile'}"><i
                        style="font-size: 70px; word-wrap: normal; text-align: center; margin-left: 20px;"
                        class="fa fa-user"><br>
                        <p style="font-size: 20px;">Ime korisnika</p>
                    </i></li>
                <li style="position: absolute; bottom: 0; left: 0; min-width: 260px; max-width: 210px;" class="bottom"
                    (click)="logOff()" [ngClass]="{'onActive': selectedMenu == 'Logout'}"><i
                        style="text-align: center;" class="fa fa-dollar"> &nbsp; Odjavi se</i></li>
            </ul>
        </div>
    </div>
    <div class="column-container">  
        <router-outlet></router-outlet>
    </div>

</div>