.form{
    display: flex;
    margin-top: 30px;
    height: 100px;
    background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
    text-align: left;
    font-size: 26px;
    align-items: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f7f7f7;
}
label {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    color: white;
  }

  .table{
    display: flex;
    margin-top: 400px;
    border-collapse: collapse;
    width: 32.3cm;
   }
.textbox1
{
    position: absolute;
    left: 5px;
}
.textbox2
{
    position: absolute;
    left: 270px;
}
.textbox3
{
    position: absolute;
    left: 535px;
}
.datetime1{
    position: absolute;
    left: 800px;
}
.combo1
{
    position: absolute;
    left: 1065px;
}
table {
    border-collapse: collapse;
    width: 32.3cm;
    position: absolute;
    top: 60px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #f724ad;
  }
  
  th {
    background-color: #f080c3;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
.create-button{
    width: 140px;
    height: 50x;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top:  50px;
    right: 260px;
    background-color: purple !important;
    color: white !important;
}
.delete-button{
    width: 140px;
    height: 50x;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top:  50px;
    right: 80px;
    background-color: purple !important;
    color: white !important;
}
.create-button:hover{
    background-color: rgb(221, 17, 232) !important;
}
.delete-button:hover{
    background-color: rgb(221, 17, 232) !important;
}