<div class="row-container">
  <app-side-nav-bar></app-side-nav-bar>
  <div class="column-container, width-64">
      <div class="tabs">
          <p class="title">Mjesecni troškovi</p>
          <form class="group-of-buttons-form">
            <button mat-raised-button  (click)="addClick()">
                <mat-icon>add</mat-icon>
                Dodaj 
            </button>
            <div class="between-buttons"></div>
            <button mat-raised-button  (click)="deleteClick()">
              <mat-icon>delete</mat-icon>
              Obriši
            </button>
          </form>
      </div>
      

      <div class="group-scroll">
       
       
        <div class="table">
          <table id="finance">
            <tr>
      
              <th *ngFor="let col of columns">
                {{col}}
              </th>
            </tr>
            <tr *ngFor="let financ of finance">
      
              <td>{{ financ.billNumber }}</td>
              <td>{{ financ.billType }}</td>
              <td>{{ financ.amount }}</td>
              <td>{{ financ.date }}</td>
              <td>
                <input type="checkbox" [checked]="financ.paid" (click)="onComboBoxClick(financ)">
              </td>
              <td>
                <button mat-raised-button class="rowButton" (click)="deleteClickRow(financ)">
                  <mat-icon>delete</mat-icon>
                  Obriši
                </button>
              </td>
            </tr>
          </table>
        </div> 
      </div>
  </div>
</div>