.row-container {
    display: flex;
    flex-direction: row;
}
.width-64 {
    width: calc(100% - 64px);
}
.calendar-div{
box-shadow:1px 1px 2px lightgray;
overflow-y: auto;
height: calc(110vh - 230px);
margin-top: 10px;
margin-left: 10px;  
margin-right: 20px;
flex-wrap: nowrap;
display: flex;
border-radius: 10px;
background-color: white;
}

.textArea{
    padding: 93px;
    width:calc(40vw - 50px);
}

.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f7f7f7;
}
.tabs{
    display: flex;
    margin-top: 30px;
    height: 100px;
    background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
    text-align: left;
    font-size: 26px;
    align-items: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.add-activity{
    position: absolute;
    right: 0;
    font-size: 18px;
    background-color:  #8e31a8 !important;
    margin-right: 20px;
    height: 40px;
    color: white !important;
    padding: 20px;
}
.mat-calendar{
  

    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    
    padding-left: 50px;
}
::ng-deep .mat-calendar-header{
  
    width: calc(35vw - 30px);
    padding:10px ;
   
}

::ng-deep .highlight-date-class.mat-calendar-body-cell{
    background-color: rgb(139, 89, 172);
    color: rgb(139, 89, 172);
    border-radius: 50px;
    
}
::ng-deep .mat-calendar-body{
  padding: 10px;
}
::ng-deep .mat-calendar-cell{

    border-radius: 10px;
}
.float-container {
    overflow-y: auto;
    height: calc(115vh - 243px);
    background-color: whitesmoke;
}

.float-child {
    width: 50%;
    float: left;
} 
.txtArea{
    align-self: center;
    word-wrap: normal;
}
::ng-deep .mat-calendar-body-cell:focus{

    background-color: rgb(172, 153, 178);
    border-radius: 50px;
}
.color-white {
    background-color:whitesmoke;
}
.save-button {
    border-radius: 10px; 
    width: 150px;
    color: white;
    background-color: #8e31a8;
}
.save-button:disabled{
    border-radius: 10px; 
    background-color: #b591d8;
    width: 150px;
    color: white;
}
.form-row {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    padding-bottom: 10px;
}
.column-container {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.margin-bottom {
    margin-bottom: 10px;
}
