<div class="row-container">
  <app-side-nav-bar></app-side-nav-bar>
  <div class="column-container, width-64">

    <div class="tabs">
      <p class="title">Aktivnosti({{groupName}})</p>

      <button mat-raised-button class="add-activity">
        <mat-icon>edit</mat-icon>
        Dodaj aktivnost
      </button>
    </div>

    <div class="float-container">
      <div class="float-child">

         <div class="calendar-div">
          
          <mat-calendar #calendar class="mat-calendar"  [selected]="selectedDate" (selectedChange)="onSelect($event)"> </mat-calendar>
      
  </div>

      </div>
      <div class="float-child">
        <mat-form-field [style.fontSize]="14" class="textArea">
          <mat-label>Pregled aktivnosti za {{selectedDate}} </mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>