<div class="row-container">
  <app-side-nav-bar></app-side-nav-bar>
  <div class="column-container, width-64">

    <div class="tabs">
      <p class="title">Aktivnosti({{groupName}})</p>

      <button mat-raised-button class="add-activity" (click)="addActivity()">
        <mat-icon>edit</mat-icon>
        Dodaj aktivnost
      </button>
    </div>

    <div class="float-container">
      <div class="float-child">

         <div class="calendar-div">
          
          <mat-calendar [dateClass]="dateClass()"  [selected]="selectedDate" (selectedChange)="onSelect($event)"> 
           
          </mat-calendar>
      
  </div>

      </div>
      <div class="float-child">
     <!--    <mat-label>Pregled aktivnosti za {{selectedDate}} </mat-label>
        <mat-form-field [style.fontSize]="14" class="textArea">
          
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="10"
                    class="txtArea">
                    Naziv aktivnosti: {{activityName}}
                    Opis: {{activityDescription}}</textarea>
        </mat-form-field> -->
        
        <form [formGroup]="form"  class="column-container margin-bottom">
          <mat-label>Pregled aktivnosti za {{selectedDate}} </mat-label>
          <div class="form-row">
              Naziv:
              <mat-form-field class="color-white">
                  <input matInput cdkAutosizeMaxRows="10" formControlName="name"  autocomplete="off" value="{{activityName}}"/>
                
              </mat-form-field>
          </div>
  
          <div class="form-row">
              Opis aktivnosti:
              <mat-form-field class="color-white">
                  <textarea matInput
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10" formControlName="description"  autocomplete="on" value="{{activityDescription}}"></textarea>
                  <mat-error>{{ getErrorMessage('surname') }}</mat-error>
              </mat-form-field>
          </div>
  
          <div class="form-row">
              Period trajanja(h):
              <mat-form-field class="color-white">
                  <input type="number" matInput formControlName="number"
                  required autocomplete="on" value="{{activityDuration}}">
                  
              </mat-form-field>
          </div>
  
          
  
          <div style="text-align: center;">
              <button mat-raised-button class="save-button" type="submit">Sačuvaj</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>