.header-info {
    background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
    text-align: center;
    font-size: 22px;
    color: white;
    padding-bottom: 20px
}

.exit-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 7px;
    color: white;
}

.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.margin-bottom {
    margin-bottom: 10px;
}

.form-row {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    padding-bottom: 10px;
}

.select-container {
    top: 0px;
    height: 40px;
    width: 200px;
    font-size: 16px;
    margin-left: 40px;
}

.color-white {
    background-color: white;
}

.save-button {
    border-radius: 10px; 
    background-color: #8e31a8;
    width: 150px;
    color: white;
}