.form{
    position: absolute;
    top: 30px;
    background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
    width: 32.3cm;
    height: 3cm;
   /* padding: 280px 82px;*/
    /*border-radius: 50px;*/
}
label {
    position: absolute;
    left: 20px;
    top: 20px;
   /* width: 500px;
    display: inline-block;*/
    font-size: 30px;
   /* font-weight: bold;*/
    color: white;
  }
.form2
{
    position: absolute;
    top: 200px;
    width: 32.3cm;
    height: 7cm;
    background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
}
.form2 label {
    position: absolute; 
  }
  .form2 label:first-child {
    top: 20px;
    left: 20px;
    border: 2px;
    border-style: solid;
    border-color: white;
  }
  .form2 label:last-child {
    top: 120px;
    left: 20px;
    border: 2px;
    border-style: solid;
    border-color: white;
  }
.form2 label:hover
{
    background-color: rgb(221, 17, 232);
}