<div class="row-container">
    <app-side-nav-bar></app-side-nav-bar>
    <div class="width-64">
        <div class="tabs">
            <p class="title">Finansije</p>
        </div>
        <div class="group-scroll">
            <div class="float-container">
                <div class="float-child" (click)="showCosts()">
                    <mat-card class="comment-card">
                        <label class="label">Evidencija o mjesečnim troškovima</label>
                        <p class="sub-label">Prikazuje mjesečne troškove vrtića</p>
                    </mat-card>
                </div>
                <div class="float-child" (click)="showMemberships()">
                    <mat-card class="comment-card">
                        <label class="label">Pregled članarina za svu djecu</label>
                        <p class="sub-label">Prikazuje članarine za svu djecu</p>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>