.row-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.width-64 {
  width: calc(100% - 64px);
}

.tabs {
  display: flex;
  margin-top: 30px;
  height: 100px;
  background: linear-gradient(90deg, rgb(176, 108, 235) 0%, rgb(141, 14, 219) 50%, rgb(237, 147, 255) 100%);
  text-align: left;
  font-size: 26px;
  align-items: center;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
  margin-left: 20px;
}

.group-scroll {
  overflow-y: auto;
  height: calc(110vh - 205px);
}

.float-container {
  overflow-y: auto;
  height: calc(110vh - 205px);
  background-color: whitesmoke;
}

.float-child {
  padding: 50px;
  width: 50%;
  float: left;
} 

.comment-card {
  margin-bottom: 5px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  height: 50vh;
  cursor: pointer;
}

.comment-card:hover {
  background-color: #ddd;
}

.label {
  padding: 20%;
  padding-bottom: 20px;
  font-size: 30px;
}

.sub-label{
  padding-left: 20%;
  color: gray;
}